@keyframes spinner {
	to {		transform: rotate(360deg);
	}
}

.loading-spinner::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	border-top-color: #07d;
	animation: spinner 0.6s linear infinite;
}

.loading {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
}

.progress-circle {
	position: fixed !important;
	top: 50%;
	left: 50%;
	z-index: 100;
}
